<%= stylesheet_link_tag 'member_application', media: 'all' %>

<h1 class="welcome-title">Welcome, Member!</h1>
<p class="welcome-message">This is the member dashboard for accessing member-specific features.</p>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: user_member_index_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<% if @visa_categories.present? %>
  <h2 class="visa-title">Visa Categories</h2>
  <div class="visa-categories-container">
    <% @visa_categories.each do |category| %>
      <div class="visa-category-card">
        <div class="card">
          <h5 class="card-title"><%= category.name %></h5>
          <p class="card-text"><%= category.about %></p>
          <%= link_to "View more", user_member_visa_category_visas_path(category), class: "btn view-more-btn" %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="no-categories">No visa categories available.</p>
<% end %>
