<h2>Visas for <%= @visa_category.name %></h2>

<ul>
  <% @visas.each do |visa| %>
    <li>
      <strong>Name:</strong> <%= visa.name %>
      <strong>Subclass:</strong> <%= visa.subclass %>
      <%= link_to "Add a case", new_user_member_case_path(visa_id: visa.id), data: { turbo: false }, class: "btn" %>
      <%= link_to "View cases", user_member_cases_path(visa_id: visa.id), class: "btn" %>
    </li>
  <% end %>
</ul>
