<h2>Visas for <%= @visa_category.name %></h2>

<ul>
  <% @visas.each do |visa| %>
    <li class="visa-item">
      <strong>Name:</strong> <%= visa.name %><br>
      <strong>Subclass:</strong> <%= visa.subclass %><br>
      <strong>Description:</strong> <%= visa.about %><br>
      <strong>Eligibility:</strong> <%= visa.eligibility %><br>
      <strong>Duration:</strong> <%= visa.duration %>
    </li>
  <% end %>
</ul>
