<h1>Welcome, Admin!</h1>
<p>This is the admin dashboard for managing the application.</p>

<%= link_to "Countries Index", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, id: "logout-link", class: "btn btn-danger" %>
<%= link_to "Anzsco Code Index", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, id: "logout-link", class: "btn btn-danger" %>
<%= link_to "Visa Types Index", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, id: "logout-link", class: "btn btn-danger" %>
<%= link_to "Visa Index", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, id: "logout-link", class: "btn btn-danger" %>
<%= link_to "User Index View", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, id: "logout-link", class: "btn btn-danger" %>
<%= link_to "Cases Index View", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, id: "logout-link", class: "btn btn-danger" %>
<%= link_to "Logs Index View", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, id: "logout-link", class: "btn btn-danger" %>
<%= link_to "Welcome Info Index View", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, id: "logout-link", class: "btn btn-danger" %>
<%= link_to "Log Off", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, id: "logout-link", class: "btn btn-danger" %>

<ul>
  <% @anzsco_codes.each do |anzsco_code| %>
    <li>
      <strong>Code:</strong> <%= anzsco_code.anzsco_code %><br>
      <strong>Occupation:</strong> <%= anzsco_code.occupation %><br>
      <strong>Description:</strong> <%= anzsco_code.description %>
    </li>
  <% end %>
</ul>
