  <!-- Footer Section -->
  <footer class="bg-light text-center py-3 mt-auto">
    <nav class="mb-2">
      <%= link_to 'About', about_path, class: 'text-dark mx-2' %>
      <%= link_to 'Contact', contact_path, class: 'text-dark mx-2' %>
      <%= link_to 'Employment', employment_path, class: 'text-dark mx-2' %>
      <%= link_to 'Resources', resources_path, class: 'text-dark mx-2' %>
      <%= link_to 'Privacy Policy', privacy_policy_path, class: 'text-dark mx-2' %>
      <%= link_to 'Terms of Service', terms_of_service_path, class: 'text-dark mx-2' %>
    </nav>
    <p class="small text-muted">© 2024 Migration Tracker INC. All rights reserved. Migration Tracker Inc. doesn't provide any immigration advice.</p>
  </footer>
