<h1>Edit Country</h1>

<%= form_with model: @country, url: admins_country_path(@country), local: true do |form| %>
  <% if @country.errors.any? %>
    <div>
      <h2>Errors:</h2>
      <ul>
        <% @country.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit "Update Country" %>
  </div>
<% end %>
