<h1>Countries available</h1>

<% if current_user.admin? %>
  <%= link_to 'Add New Country', new_admins_country_path, class: "btn btn-primary" %>
<% end %>

<table>
  <!--<thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>-->
  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td>
          <%= link_to 'Edit', edit_admins_country_path(country), class: "btn btn-secondary" %> |
          <%= form_with url: admins_country_path(country), method: :delete, data: { confirm: 'Are you sure you want to delete this country?' }, html: { class: 'delete-form' } do %>
  <%= submit_tag 'Delete', class: "btn btn-danger" %>
<% end %>
          <!-- <%= link_to 'Delete', admins_country_path(country), method: :delete, data: { confirm: 'Are you sure you want to delete this country?' }, class: "btn btn-secondary" %>-->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
