<h1 class="text-center">Users Index</h1>
  <div class="actions">
    <%= link_to "Return to Admin Menu", user_admin_index_path, class: "btn" %>
  </div>

    <div class="users-index">
    <%= form_with url: user_admin_users_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="users-index">
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td>
            <%= link_to 'Edit Role', edit_user_admin_user_path(user), class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
